header {
    background-color: #0b0709;
}
.top_line {
    @include row-flex();
    align-items: center;
    padding: 1rem 0;
    color: #ffffff;
    font-size: rem(12);
    &-name {
        @include col();
        @include size(5);
    }
    &-contacts {
        @include col();
        @include size(7);
        text-align: right;
        a {
            color: #ffffff;
            & + a {
                margin: 0 0 0 8px;
            }
        }
        svg {
            width: 20px;
            height: 20px;
            fill: #ffffff;
            vertical-align: middle;
        }
        > div + div {
            margin: 1rem 0 0 0;
        }
    }
}
.logo_box {
    @include row-flex();
    padding: 1.5rem 0;
    .company_name {
        display: inline-block;
        color: #ffffff;
        font-size: rem(38);
    }
    &-img {
        @include col();
        @include size(8);
        a {
            display: inline-block;
        }
        img {
            display: inline-block;
            max-width: 140px;
        }
    }
    &-search {
        @include col();
        @include size(4);
        align-self: flex-end;
        text-align: right;
        .single_block {
            @include sm(margin,1rem 0 0 0);
            @include xs(margin,1rem 0 0 0);
            display: inline-block;
            position: relative;
            .icon_search {
                position: absolute;
                top: 8px;
                right: 8px;
                &:hover {
                    cursor: pointer;
                }
            }
            input {
                min-width: 220px;
                padding: 8px 12px;
                font-size: rem(13);
            }
        }
    }
}
.section_menu {
    background-color: $bgMenu;
    margin: 0;
}
.menu {
    @include row-flex();
    &_box {
        @include row-flex();
        @include col();
        @include size(12);
        flex-wrap: wrap;
        align-items: center;
        &-header {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                position: relative;
                padding: 20px 10px;
                color: $textColor1;
                font-size: rem(16);
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    transition: all 300ms ease;
                    background-color: $textColor2;
                    opacity: 0;
                }
                &:hover {
                    color: $textColor2;
                    cursor: pointer;
                    &:after {
                        opacity: 1;
                    }
                }
                &:first-child {
                    padding: 20px 10px 20px 0;
                }
                &:last-child {
                    padding: 20px 0 20px 10px;
                }
            }
        }
        &-socials-box {
            flex-grow: 1;
            text-align: right;
            > a {
                display: inline-block;
                padding: 5px;
                & + a {
                    margin: 0 0 0 .2rem;
                }
                &:last-child {
                    padding: 5px 0 5px 5px;
                }
            }
            svg {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid #fff;
                padding: 6px;
                vertical-align: middle;
                fill: #ffffff;
                &:hover {
                    fill: $colorSocialsHover;
                    border: 2px solid $colorSocialsHover;
                }
            }
        }
    }
}
