@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

.icon {
    display: inline-block;
}
.icon_search {
    @include sprite($search);
}
.popular_matches {
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.scoreboard, .simple_text {
    margin: 2rem 0;
}
.popular_matches-carousel-item {
    color: #ffffff;
    text-align: center;
    font-size: rem(14);
    .match_date-time {
        font-size: rem(14);
    }
    .match_commands {
        @include row-flex();
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        img {
            display: inline-block;
            width: 30px;
            vertical-align: middle;
        }
        &-delimiter {
            margin: 0 .5rem;
        }
    }
    .match_stadium, .match_country {
        font-size: rem(12);
    }
    .match_stadium {
        margin: 0 0 5px 0;
    }
    .match_country {
        display: inline-block;
        img {
            display: inline-block;
            width: 25px;
            margin: 0 0 0 4px;
            vertical-align: middle;
        }
    }
    .match_order {
        margin: .5rem 0;
        svg {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 4px 0 0;
            fill: #fff;
            vertical-align: middle;
        }
    }
}
.btn {
    display: inline-block;
    position: relative;
    margin: .5rem 0;
    border: none;
    padding: 10px 22px;
    transition: all 300ms ease;
    cursor: pointer;
    color: $textColor2;
    font-size: rem(14);
}
.btn_order {
    background-color: $bgBtnOrder;
    &:after {
        content: "";
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        left: 4px;
        border: 1px solid #ffffff;
        transition: all 300ms ease;
        opacity: 0;
    }
    &:hover:after {
        opacity: 1;
    }
}
.btn_more {
    border-radius: 5px;
    background-color: $bgBtnOrder;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    border: 1px solid #ffffff;
    font-size: rem(24);
    border-radius: 50%;
    transition: all 300ms ease;
    color: #ffffff;
    &:hover {
        background: none;
        border: 1px solid $textColor2;
    }
}
.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
.owl-carousel .owl-nav button.owl-next {
    right: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #c89dd9;
}
.is_loaded {
    position: relative;
}
.is_loaded:after {
    content: "";
    position: absolute;
    z-index: 10;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: 1.1s linear infinite load8;
    animation: 1.1s linear infinite load8;
    border-radius: 50%;
    border-top: 3px solid $bgTabContent;
    border-right: 3px solid $bgTabContent;
    border-bottom: 3px solid $bgTabContent;
    border-left: 3px solid $bgBtnOrder;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.close {
    position: absolute;
    cursor: pointer;
    top: .2rem;
    right: .2rem;
    svg {
        width: 30px;
        height: 30px;
        fill: $colorClosePopupSvg;
    }
}
.seo_text {
    color: $textColor2;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    font-size: rem(14);
}
.align_self-center {
    align-self: center;
}
.text_center {
    text-align: center;
}
.map {
    margin: 2rem 0;
}
.section_default {
    margin: 2rem 0;
}
