<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ticket Group</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
<!--        @@include("../blocks/modules/debug/debug.html")-->
        @@include("../blocks/modules/header/header.html")

        <section class="popular_matches">
            <div class="container">
                <div class="owl-carousel owl-theme matches_carousel popular_matches-carousel">
                    <div class="popular_matches-carousel-item">
                        <div class="match_date-time">
                            17.06.2019 12:00
                        </div>
                        <div class="match_commands">
                            <div>
                                Барселона
                                <img src="../img/barselona.png" alt="barselona">
                            </div>
                            <div class="match_commands-delimiter">
                                -
                            </div>
                            <div>
                                <img src="../img/Real_Madrid.png" alt="real">
                                Реал Мадрид
                            </div>
                        </div>
                        <div class="match_stadium">
                            Стадион Сантьяго Бернабеу
                        </div>
                        <div class="match_country">
                            Барселона
                            <img src="../img/ispany.jpg" alt="alt">
                        </div>
                        <div class="match_order">
                            <div class="btn btn_order call_form-order call_form-order">
                                <svg>
                                    <use xlink:href="../img/sprites/sprite.svg#tickets"></use>
                                </svg>
                                Купить билет
                            </div>
                        </div>
                    </div>
                    <div class="popular_matches-carousel-item">
                        <div class="match_date-time">
                            17.06.2019 12:00
                        </div>
                        <div class="match_commands">
                            <div>
                                Барселона
                                <img src="../img/barselona.png" alt="barselona">
                            </div>
                            <div class="match_commands-delimiter">
                                -
                            </div>
                            <div>
                                <img src="../img/Real_Madrid.png" alt="real">
                                Реал Мадрид
                            </div>
                        </div>
                        <div class="match_stadium">
                            Стадион Сантьяго Бернабеу
                        </div>
                        <div class="match_country">
                            Барселона
                            <img src="../img/ispany.jpg" alt="alt">
                        </div>
                        <div class="match_order">
                            <div class="btn btn_order call_form-order">
                                <svg>
                                    <use xlink:href="../img/sprites/sprite.svg#tickets"></use>
                                </svg>
                                Купить билет
                            </div>
                        </div>
                    </div>
                    <div class="popular_matches-carousel-item">
                        <div class="match_date-time">
                            17.06.2019 12:00
                        </div>
                        <div class="match_commands">
                            <div>
                                Барселона
                                <img src="../img/barselona.png" alt="barselona">
                            </div>
                            <div class="match_commands-delimiter">
                                -
                            </div>
                            <div>
                                <img src="../img/Real_Madrid.png" alt="real">
                                Реал Мадрид
                            </div>
                        </div>
                        <div class="match_stadium">
                            Стадион Сантьяго Бернабеу
                        </div>
                        <div class="match_country">
                            Барселона
                            <img src="../img/ispany.jpg" alt="alt">
                        </div>
                        <div class="match_order">
                            <div class="btn btn_order call_form-order">
                                <svg>
                                    <use xlink:href="../img/sprites/sprite.svg#tickets"></use>
                                </svg>
                                Купить билет
                            </div>
                        </div>
                    </div>
                    <div class="popular_matches-carousel-item">
                        <div class="match_date-time">
                            17.06.2019 12:00
                        </div>
                        <div class="match_commands">
                            <div>
                                Барселона
                                <img src="../img/barselona.png" alt="barselona">
                            </div>
                            <div class="match_commands-delimiter">
                                -
                            </div>
                            <div>
                                <img src="../img/Real_Madrid.png" alt="real">
                                Реал Мадрид
                            </div>
                        </div>
                        <div class="match_stadium">
                            Стадион Сантьяго Бернабеу
                        </div>
                        <div class="match_country">
                            Барселона
                            <img src="../img/ispany.jpg" alt="alt">
                        </div>
                        <div class="match_order">
                            <div class="btn btn_order call_form-order">
                                <svg>
                                    <use xlink:href="../img/sprites/sprite.svg#tickets"></use>
                                </svg>
                                Купить билет
                            </div>
                        </div>
                    </div>
                    <div class="popular_matches-carousel-item">
                        <div class="match_date-time">
                            17.06.2019 12:00
                        </div>
                        <div class="match_commands">
                            <div>
                                Барселона
                                <img src="../img/barselona.png" alt="barselona">
                            </div>
                            <div class="match_commands-delimiter">
                                -
                            </div>
                            <div>
                                <img src="../img/Real_Madrid.png" alt="real">
                                Реал Мадрид
                            </div>
                        </div>
                        <div class="match_stadium">
                            Стадион Сантьяго Бернабеу
                        </div>
                        <div class="match_country">
                            Барселона
                            <img src="../img/ispany.jpg" alt="alt">
                        </div>
                        <div class="match_order">
                            <div class="btn btn_order call_form-order">
                                <svg>
                                    <use xlink:href="../img/sprites/sprite.svg#tickets"></use>
                                </svg>
                                Купить билет
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @@include("../blocks/modules/tabs/tabs.html")
        @@include("../blocks/modules/schedule/schedule.html")

        <section id="about" class="simple_text">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="seo_text">
                            <h2>Почему нас выбирают самые требовательные клиенты</h2>
                            <ul>
                                <li>мы любим и понимаем футбол</li>
                                <li>подбираем лучшие места на стадионах Европы и Латинской Америки</li>
                                <li>гарантируем бронирование выбранных секторов</li>
                                <li>организуем быструю доставку билетов</li>
                                <li>берем на себя оформление документов, сопровождение в посольствах</li>
                            </ul>
                            <p>И еще немного о  нас:</p>
                            <ul>
                                <li>мы работаем в сфере спортивного туризма с 2002 года</li>
                                <li>более 170 000 болельщиков съездили с нами на чемпионаты, матчи, раунды</li>
                                <li>около 100 000 индивидуальных спортивных туров в нашей копилке</li>
                                <li>ваши яркие впечатления, бурные эмоции и незабываемый отдых - гарантированы</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="map">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <iframe src="https://yandex.ru/map-widget/v1/-/CCDAYMJi" width="100%" height="454" frameborder="0" allowfullscreen="true"></iframe>
                    </div>
                    <div class="col-4">
                        @@include("../blocks/modules/form-recall/form-recall.html")
                    </div>
                </div>
            </div>
        </section>
        @@include("../blocks/modules/slider/slider.html")
        @@include("../blocks/modules/footer/footer.html")
        <div id="container-popup" class="popup">
            @@include("../blocks/modules/form-order/form-order.html")
        </div>
        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>
