.tabs {
    align-items: stretch;
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
    line-height: 22px;
    font-size: rem(14);
    border-top: 1px solid $colorBorderSolid;
    border-right: 1px solid $colorBorderSolid;
    border-left: 1px solid $colorBorderSolid;
    &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $colorBorderSolid;
    }
}
.tabs > div {
    position: relative;
    color: $textColor1;
    background-color: $bgTabContent;
}
.tabs > ul {
    @include lg(flex-wrap,nowrap);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: $bgMenu;
    color: $textColor1;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .5);
    li {
        @include lg(border-bottom,1px solid $colorBorderSolid);
        @include lg(border-right,1px solid $colorBorderSolid);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 10px 15px;
        transition: all 300ms ease;
        border-right: none;
        border-bottom: 1px solid $colorBorderSolid;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        &:hover {
            color: #fff;
        }
        &:last-child {
            border-right: none;
        }
        &.active {
            &:after {
                opacity: 1;
            }
            &, &.active:hover {
                background-color: $bgTabContent;
                cursor: default;
                color: $textColor1;
            }
        }
        img {
            width: 30px;
            margin: 0 .4rem 0 0;
        }
    }
}
.tab_list-stages {
    @include md(flex-wrap,nowrap);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
    &:after {
        @include md(background,none);
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $colorBorderSolid;
    }
    > div {
        @include lg(flex-basis,20%);
        @include md(flex-basis,33.33333%);
        font-size: rem(13);
        box-sizing: border-box;
        flex-basis: 50%;
        padding: .5rem;
        text-align: center;
        background-color: #ddd;
        border-bottom: 1px solid $colorBorderSolid;
        border-right: 1px solid $colorBorderSolid;
        &:hover, &.is_loaded {
            background-color: #fff;
            cursor: pointer;
        }
        &:last-child {
            @include lg(border-right,none);
            @include md(border-right,none);
            border-right: 1px solid $colorBorderSolid;
        }
        &:nth-child(2n) {
            @include sm(border-right,none);
            @include md(border-right,1px solid $colorBorderSolid);
            @include lg(border-right,1px solid $colorBorderSolid);
            border-right: none;
        }
        &.is_loaded {
            color: transparent;
        }
        &.active {
            background-color: $bgTabContentActive;
            cursor: not-allowed;
        }
    }
}
.list_teams {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    > div {
        @include lg(flex-basis,20%);
        @include sm(flex-basis,50%);
        @include md(flex-basis,33.33333%);
        box-sizing: border-box;
        display: flex;
        flex-basis: 50%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: .5rem;
        transition: all 300ms ease;
        font-size: rem(13);
        border-bottom: 1px solid $colorBorderSolid;
        border-right: 1px solid $colorBorderSolid;
        border-top: 1px solid $colorBorderSolid;
        & + div {
            border-top: none;
        }
        &:hover, &.is_loaded {
            background-color: #fff;
            cursor: pointer;
        }
        &.is_loaded {
            color: transparent;
        }
        &:nth-child(2n) {
            @include sm(border-right,none);
            @include md(border-right,1px solid $colorBorderSolid);
            @include lg(border-right,1px solid $colorBorderSolid);
            border-right: none;
        }
        &:nth-child(3n) {
            @include md(border-right,none);
            @include lg(border-right,1px solid $colorBorderSolid);
        }
        &:nth-child(5n) {
            @include lg(border-right,none);
        }
        &:first-child {
            border-top: none;
        }
        &.active {
            background-color: $bgTabContentActive;
            cursor: not-allowed;
        }
        span {
            margin: 0 auto;
        }
        img {
            width: 22px;
            vertical-align: middle;
        }
    }
}
