.tabs {
    align-items: stretch;
    margin-bottom: 1em;
    overflow: hidden;
    line-height: 22px;
    font-size: rem(14);
}
.tabs > div {
    position: relative;
    color: $textColor1;
    background-color: $bgTabContent;
}
.tabs > ul {
    @include lg(flex-wrap,nowrap);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: $bgMenu;
    color: $textColor1;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .5);
    li {
        @include lg(border-bottom,1px solid $colorBorderSolid);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 10px 15px;
        transition: all 300ms ease;
        border-top: 1px solid $colorBorderSolid;
        border-right: 1px solid $colorBorderSolid;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;
        &:hover {
            color: #fff;
        }
        &.active {
            &:after {
                opacity: 1;
            }
            &, &.active:hover {
                background-color: $bgTabContent;
                cursor: default;
                color: $textColor1;
            }
        }
        img {
            width: 30px;
            margin: 0 .4rem 0 0;
        }
    }
}
.list_commands {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    > div {
        @include lg(font-size,rem(13));
        @include lg(flex-basis,20%);
        @include sm(flex-basis,50%);
        @include md(flex-basis,33.33333%);
        box-sizing: border-box;
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: .5rem;
        transition: all 300ms ease;
        font-size: rem(15);
        border-bottom: 1px solid $colorBorderSolid;
        border-left: 1px solid $colorBorderSolid;
        border-right: 1px solid $colorBorderSolid;
        &:hover, &.is_loaded {
            background-color: #fff;
            cursor: pointer;
        }
        &.is_loaded {
            color: transparent;
        }
        &:last-child {
            border-right: 1px solid $colorBorderSolid;
        }
        &.active {
            background-color: $bgTabContentActive;
        }
        & + div, &:first-child {
            border-left: none;
        }
        span {
            margin: 0 auto;
        }
        img {
            width: 22px;
            vertical-align: middle;
        }
    }
}
