.form_recall-box {
    @include md(margin-top,0);
    box-sizing: border-box;
    height: 100%;
    margin-top: 2rem;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    .title {
        @include md(font-size, rem(18));
        position: relative;
        margin: 1rem 0 2rem 0;
        font-size: rem(16);
        color: $textColor2;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -.75rem;
            left: 25%;
            width: 50%;
            height: 1px;
            background-color: #fff;
        }
    }
    .single_block {
        display: block;
        margin: 1rem;
        input, textarea {
            @include md(font-size, rem(12));
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #ffffff;
            padding: 8px 12px;
            font-size: rem(14);
        }
        textarea {
            min-height: 80px;
        }
    }
    .btn_recall {
        width: 70%;
        border: 1px solid #ffffff;
        &:hover {
            background: #ffffff;
            color: $textColor1;
        }
    }
}
.single_block {
    &.i_agree {
        label {
            position: relative;
            color: $textColor2;
            font-size: rem(12);
            line-height: normal;
            padding-left: 30px;
            &:after {
                content: "";
                position: absolute;
                top: 10px;
                left: 6px;
                width: 5px;
                height: 5px;
                background-color: $textColor1;
                border-radius: 50%;
                opacity: 0;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                border: solid 1px $textColor1;
                font-size: 0;
                border-radius: 50%;
                background: #fff;
                text-align: center;
            }
        }
        input {
            display: none;
            margin-left: 0;
            &:checked + label:after {
                top: 7px;
                opacity: 1;
            }
        }
    }
}
.btn_recall {
    background: none;
}
.error {
    display: none;
    font-size: rem(12);
}
