.logo_company {
    @include lg(text-align,left);
    color: $textColor2;
    font-size: rem(26);
    text-align: center;
    img {
        display: inline-block;
        max-width: 80px;
    }
}
.form_subscribe {
    max-width: 320px;
    margin: 1rem auto;
    .single_block {
        &.submit {
            margin: .5rem 0 0 0;
        }
        &.email {
            display: flex;
            align-items: center;
            input {
                width: 100%;
                margin: 0 0 0 .5rem;
                border: 1px solid $colorBorderInput;
                padding: 8px 12px;
                line-height: normal;
            }
        }
    }
    svg {
        width: 30px;
        vertical-align: middle;
        height: 25px;
        fill: #ffffff;
    }
}
.btn_subscribe {
    width: 100%;
    border-radius: 5px;
    background: none;
    &:hover {
        background-color: #ffffff;
        color: $textColor1;
    }
    &.btn {
        border: 1px solid #ffffff;
    }
}
.contacts {
    color: $textColor2;
    display: inline-block;
    .address, .phones {
        @include lg(font-size,rem(14));
        font-size: rem(16);
        > div {
            display: block;
            margin: .5rem 0;
            line-height: 22px;
            &:first-child {
                font-weight: 700;
            }
        }
    }
    .phones {
        margin: 1rem 0 0 0;
    }
    a {
        color: $textColor2;
    }
}
.f_menu {
    @include lg(display,block);
    display: none;
    padding: 0;
    text-align: center;
    color: $textColor2;
    list-style: none;
    line-height: 24px;
    font-size: rem(16);
    font-weight: 700;
    li {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        & + li {
            margin: .5rem 0 0 0;
        }
    }
}
.f_socials {
    @include lg(display,block);
    display: none;
    text-align: center;
    margin: 2rem 0 0 0;
    a {
        display: inline-block;
        & + a {
            margin: 0 0 0 .5rem;
        }
    }
    svg {
        fill: #ffffff;
        display: inline-block;
        width: 20px;
        height: 24px;
        &:hover {
            fill: $colorSocialsFooterHover;
        }
    }
}
.payment_methods {
    text-align: center;
    svg {
        display: inline-block;
        width: 55px;
        height: 34px;
    }
}
footer {
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.6);
    a:hover {
        color: $colorSocialsFooterHover;
    }
}
